@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');
body{
  background-position: center;
}

.container{
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 600px;
  position: relative;
  top: 40px;
  width: 400px
}

.title {
  padding: 20px;
  left: 40%;
}

.city-weather{
  height: 380px;
  position: absolute;
  top: 100px;
  width: 90%;
  
}

.city-weather-grid{
  position: absolute;
  top: 60px;
  width: 100%;
}

.nameCity{
  font-family: 'Cabin', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.regionCountry{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-style: normal;
  color: grey;
}

.celsius{
  font-size: 120px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}